server {
    listen 80 default_server;

    access_log  {{ app_log }}/nginx_access.log;
    error_log   {{ app_log }}/nginx_error.log error;

    client_max_body_size 10M;

    location / {
        proxy_pass         http://localhost:9000;
        proxy_redirect     off;

        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }
}
