[program:sentry-web]
directory = {{ deploy_root }}
command = {{ virtualenv }}/bin/sentry --config={{ sentry_conf_file }} start http
autostart = true
autorestart = true
redirect_stderr = true

[program:sentry-worker]
directory = {{ deploy_root }}
command = {{ virtualenv }}/bin/sentry --config={{ sentry_conf_file }} celery worker -B
autostart = true
autorestart = true
redirect_stderr = true
